.button {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 991px) {
        flex-direction: column;
        align-items: center;
    }

    .button-default {
        position: relative;
        font-family: 'Roboto', 'Open Sans', Verdana, sans-serif;
        background-color: $primary;
        padding: 15px 30px;
        border: none;
        border-radius: 50px;
        color: $black;
        text-transform: uppercase;
        margin-right: 15px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.6px;

        &:last-of-type {
            margin-right: 0;
        }

        @media screen and (max-width: 991px) {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
}