.header {
	background-color: rgba(255, 255, 255, 0.15);
	height: 150px;

	@media screen and (max-width: 1200px) {
		height: 90px;
	}

	.navbar {
		height: 100%;

		.container {
			height: 100%;
			justify-content: center;

			img {
				display: block;
				width: 200px;
				margin: 0 auto;

				@media screen and (max-width: 991px) {
					width: 250px;
				}
			}
		}
	}

	&.fixed {
		position: fixed;
		top:0; 
		left:0;
		width: 100%; 
		box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
		padding: 8px 0;
		backdrop-filter: blur(10px);
		animation: slideDown 0.35s ease-out;
		height: 100px;

		.navbar {
			height: 100%;
	
			.container {
				height: 100%;
				justify-content: center;
	
				img {
					display: block;
					width: 400px;
					margin: 0 auto;

					@media screen and (max-width: 991px) {
						width: 200px;
					}
				}
			}
		}
	}

	@keyframes slideDown {
		from {
		  transform: translateY(-100%);
		}
		to {
		  transform: translateY(0);
		}
	}
}