.main {
    padding: 25px 0;

	@media screen and (max-width: 991px) {
		padding: 0;
	}
    
    .first-layer {
        .type-1 {
            margin-bottom: 25px;

            .image {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .box-image {
                    margin-left: 45px;

                    @media screen and (max-width: 991px) {
                        margin-left: 0;
                    }
                }
            }

            .text {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .box-text {
                    margin-left: 45px;

                    @media screen and (max-width: 991px) {
                        margin-left: 0;
                    }
                }
            }
        }
        
        .type-2 {
            margin-bottom: 25px;
            
            .image {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .box-image {
                    margin-right: 45px;

                    @media screen and (max-width: 991px) {
                        margin-right: 0;
                    }
                }
            }

            .text {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .box-text {
                    margin-right: 45px;

                    @media screen and (max-width: 991px) {
                        margin-right: 0;
                    }
                }
            }
        }

        .box-image {
            width: 320px;
            height: 320px;
            background-position: bottom center;
            background-size: contain;
            background-repeat: no-repeat;

            @media screen and (max-width: 991px) {
                width: 200px;
                height: 200px;
            }
        }

        .box-text {
            max-width: 300px;
            text-align: center;

            .review {
                font-size: 26px;
                text-transform: uppercase;
                font-weight: 700;
                padding-bottom: 15px;
                line-height: normal;
                letter-spacing: 1.44px;

                @media screen and (max-width: 991px) {
                    font-size: 20px;
                }
            }

            .customer {
                font-size: 20px;
                text-transform: capitalize;
                font-weight: 300;
                font-family: 'Metal', 'Roboto', Verdana, Tahoma, sans-serif;

                @media screen and (max-width: 991px) {
                    font-size: 14px;
                }
            }
        }
    }

    .google {
        margin: 25px 0;
    }

    .call-action {
        padding: 25px 0;
        
        .container {
            display: flex;
            align-items: center;
            justify-content: center;

            .box-action {
                max-width: 620px;

                p {
                    color: $black;
                    text-align: center;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.52px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}